:root {
    --fontSize: 12px;
}

.editblockmeta {
    cursor: pointer;
}

.editblockcontent {
    height: 0px;
    overflow: hidden;
    transition: all 400ms ease-in;
}

.editblockcontent.active {
    height: 150px;
}

.input-group-sm > .btn,
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}

.scrollbox {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #999a;
    border-radius: 2px;
}

.hideable {
    transition: opacity 0.5s ease-in;
}

.hide {
    opacity: 0;
}

.hidden {
    display: none;
}

.search-box-out {
    top: 105px;
    display: block;
    background: lightgray;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px #69b9ff solid;
    border-radius: 10px;
    box-shadow: -4px 4px 7px 2px #6ea4dd91;
    transition: all .3s linear;
}

.record-parent {
    position: relative;
}

.user-parent {
    position: relative;
}

.savesuccessmodal {
    width: 300px;
    position: absolute;
    z-index: 1000;
    bottom: -10px;
    right: 100px;
}

.savesuccessmodal.more-right {
    right: 340px;
}

thead {
    width: calc(100% - 1em);
    display: block;
}

tbody.tablebodyscrollable {
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    display: block;
}

td,
th {
    flex: 1;
}

.synonymtable tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.listfilters form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 175px;
}

.accord-bar div {
    flex: 1;
}

.accord-bar div:nth-child(1) {
    flex-basis: 40%;
}

.accord-bar div:nth-child(2) {
    flex-basis: 20%;
}

.accord-bar div:nth-child(3) {
    flex-basis: 40%;
}

.avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c67b0;
    background: white;
    font-size: 2rem;
    border-radius: 50px;
}

.kbd-izvirnik {
    background: #434b52;
}

._w-13 {
    width: 13% !important;
}

.collapser-tabs {
    margin-left: auto;
    margin-right: 5px;
}